
@if (!ViewBag.HasCompilationError)
{
    <h3>Thank you for submitting your code. See the <a href="~/Home/Contact">Top 3</a> to see if you are in Top 3 submitters. </h3>
}
else
{
    <h3>Seems your code filed to compile or something is wrong with your submitted code. See response received below and fix the code. <br /> <br /><b><i>@ViewBag.ProgramOutput </i></b> <br /> </h3>
}
<br />
<a href="\">Go back to Home page</a>