
@if (ViewBag.DBSuccess)
{
    <h3>Thank you for submitting your code. See the <a href="~/Home/Contact">Top 3</a> to see if you are in Top 3 submitters. </h3>
}
else
{
    <h3>Seems something is wrong with your submitted code.Please validate/check your submitted solution.</h3>
}
<br />
<a href="\">Go back to Home page</a>